@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Simvoni';
    src: url('/fonts/Simvoni.ttf') format('truetype');
    font-display: swap;
}

.text-simvoni
{
    font-family: 'Simvoni';
}

.flip-horizontal
{
    transform: scale(-1,1)
}