@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Simvoni';
    src: url('/fonts/Simvoni.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Simvoni-Bold';
    src: url('/fonts/Simvoni-Bold.ttf') format('truetype');
    font-display: swap;
}

.simvoni
{
    font-family: 'Simvoni';
}

.simvoni-bold
{
    font-family: 'Simvoni-Bold';
}

.flip-horizontal
{
    transform: scale(-1,1)
}